{% extends 'base.html' %}

{% block title %}Dude, Where's My Compliance Requirements?{% endblock %}

{% block section_title %}Dude, here's all requirements for framework {{ request_framework }}!{% endblock %}

{% block content %}

        {% for r in results %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ r['name'] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ r['createdBy'] }}</h6>
                    <p class="card-text">Requirement ID: {{ r['requirementId'] }}</p>
                    <p class="card-text">Policies Assigned: {{ r['policiesAssignedCount'] }}</p>
                    <a href="{{ url_for('list_compliance_req_sections', req_id=r.id, request_requirement=r['name']) }}" class="card-link">Sections</a>
                </div>
            </div>
        {% endfor %}

{% endblock %}